// for deploying to server:
$baseURL: "https://widgets.oxipay.com.au";
// for local test (AU)
// $baseURL: "/dist/au";
// for local test (NZ)
// $baseURL: "/dist/nz";

// for remote test:
// $baseURL: "http://54.252.245.32/dist/au";

$OXIPAY_ORANGE: #f6771c;
$OXIPAY_GRAY: #ecedee;
$OXIPAY_LIGHT_GRAY: #f9f9f9;
$OXIPAY_DARK_GRAY: #515565;

#oxipay-img{
    background-image: url($baseURL + "/content/images/logo-orange.svg");
    padding: 1px 32px;
    margin-left: 3px;
    background-repeat: no-repeat;
}

#ezipay-img{
    background-image: url($baseURL + "/content/images/logo-ezipay.svg");
    background-size: contain;
    padding: 1px 32px;
    margin-left: 3px;
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'AvenirLTStd-Medium';
    src: url($baseURL + "/content/fonts/AvenirLTStd-Medium.eot");
    src: local("☺"), url($baseURL + "/content/fonts/AvenirLTStd-Medium.woff") format("woff"), url($baseURL + "/content/fonts/AvenirLTStd-Medium.ttf") format("truetype"), url($baseURL + "/content/fonts/AvenirLTStd-Medium.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url($baseURL + "/content/fonts/montserrat-v12-latin-regular.eot");
    src: local("☺"), url($baseURL + "/content/fonts/montserrat-v12-latin-regular.woff") format("woff"), url($baseURL + "/content/fonts/montserrat-v12-latin-regular.woff2") format("woff2"), url($baseURL + "/content/fonts/montserrat-v12-latin-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url($baseURL + "/content/fonts/montserrat-v12-latin-700.eot");
    src: local("☺"), url($baseURL + "/content/fonts/montserrat-v12-latin-700.woff") format("woff"), url($baseURL + "/content/fonts/montserrat-v12-latin-700.woff2") format("woff2"), url($baseURL + "/content/fonts/montserrat-v12-latin-700.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/** Modal **/
div[id^="oxipay-modal-"], div[id^="ezipay-modal-"] {
    padding: 0;
    max-width:660px;
}

#oxipay-modal-more-info {
    max-width: 880px;
}

#oxipay-external {
    width: 100%;
    height: 640px;
    max-height: 84vh;
    border: none;
}

/** Banner 01 (more info large) **/

#oxipay-banner-01 {
    width: 100%;
    overflow: hidden;
    display: block;
    max-width: 1120px;
    margin: 0 auto;
    border: 2px solid #e2e2e2;
    max-height: 110px;
    font-family: 'AvenirLTStd-Medium', 'arial', sans-serif;
    color: #1A1C28;
    text-decoration: none;
    .logo {
        background-color: #1A1C28;
        float: left;
        width: 26%;
        height: 120px;
        padding: 0 2%;
        overflow: hidden;
        img {
            height: 100%;
            max-width: 200px;
            width: 100%;
            margin: 0 auto;
            display: block;
        }
    }
    .text {
        float: left;
        padding-left: 2%;
        padding-top: 15px;
        overflow: hidden;
        width: 45%;
        h3 {
            font-size: 30px;
            margin: 0;
            font-family: 'AvenirLTStd-Medium', 'arial', sans-serif;
            color: #1A1C28;
        }
        p {
            font-size: 16px;
            margin: 0;
        }
    }
    .button {
        width: 20%;
        overflow: hidden;
        float: left;
        .info {
            display: block;
            float: right;
            line-height: 30px;
            padding: 10px 15px;
            background-color: #e68821;
            margin-right: 15px;
            margin-top: 30px;
            color: white;
            border-radius: 2px;
        }
    }
}
@media screen and (max-width: 670px) {
    #oxipay-banner-01 {
        max-height: 100%;
        .logo {
            width: 100%;
            float: none;
        }
        .text {
            width: 100%;
            float: none;
        }
        .button {
            width: 100%;
            float: none;
            margin-top: 10px;
            .info {
                margin: 0 auto;
                float: right;
                margin: 0 15px 15px;
            }
        }
    }
}

#oxipay-banner-01:hover .info {
    background-color: #bf6e15;
}

/** Tag 01 (more info small) **/

#oxipay-tag-01 {
    font-family: 'AvenirLTStd-Medium', 'arial', sans-serif;
    background: #1A1C28;
    color: white;
    margin-top: 20px;
    padding: 10px;
    display: block;
    overflow: hidden;
    text-decoration:none;
    max-width: 500px;
    p {
        line-height: 30px;
        margin: 0;
        color: white !important;
        float:left;
    }
    img {
        height: 20px;
        margin-left: 5px;
        margin-top: 6px;
    }
    span {
        float: right;
        color: white;
        height: 20px;
        line-height: 20px;
        margin: 5px;
    }
}

#oxipay-tag-01:hover span {
    text-decoration: underline;
}

/** Tag 02 (price info) **/

#oxipay-tag-02, #ezipay-tag-02 {
    font-family: AvenirLTStd-Medium,arial,sans-serif;
    font-size:14px;
    color: #3d4246 !important;
    text-decoration: none !important;
    display: block;
    border-bottom: none !important;
    box-shadow: none !important;
    overflow: hidden;
    &:hover {
        text-decoration: none !important;
    }
    & > p {
        margin-top: 1em !important;
        margin-bottom: 1em !important;
        &:nth-child(2){
            margin-top: -0.7em !important;
        }
    }
    &.whiteText {
        color: #EEE !important;
    }
}

/* new more-info large */

#oxipay-more-info-large {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    border: 1px solid darkgray;
    font-size: 16px;
    background: white;
    color: $OXIPAY_DARK_GRAY;
    padding: 12.5px 24px;
    overflow: hidden;
    text-decoration: none;
    box-sizing: border-box;
    max-width: 1070px;
    .title {
        flex: 1 1 auto;
        font-family: 'Montserrat-Bold', 'arial', sans-serif;
        font-size: 35px;
        text-align: center;
        margin: 26px 10px 26px 0;
        line-height: 135%;
        span {
            text-align: center;
            display: inline-block;
        }
    }
    .orange-area {
        flex: 0 0 176px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 176px;
        margin: 0 auto;
        img {
            width: 176px;
            height: 50px;
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 595px){
    #oxipay-more-info-large {
        flex-direction: column;
        text-align: center;
        max-width: 450px;
        min-width: 266px;
        margin-left: auto;
        margin-right: auto;
        .title {
            font-size: 40px;
            margin-left: auto;
            margin-right: auto;
        }
        .orange-area {
            flex: 0 0 auto;
            margin-bottom: 16px;
        }
    }
}

#oxipay-banner-top, #oxipay-more-info-general {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    border: 1px solid darkgray;
    font-size: 16px;
    background: white;
    color: $OXIPAY_DARK_GRAY;
    padding: 12px;
    overflow: hidden;
    text-decoration: none;
    box-sizing: border-box;
    .logo {
        display: flex;
        flex: 1 0 280px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-right: $OXIPAY_DARK_GRAY 1px solid;
        img {
            max-width: 180px;
        }
    }
    .title {
        display: flex;
        flex: 2 1 auto;
        font-family: 'Montserrat-Bold', 'arial', sans-serif;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        margin: 0 0 0 20px;
        font-size: 1.56em;
        line-height: 135%;
        div {
            display: inline-block;
            vertical-align: middle;
        }
        #narrow-screen {
            display: none;
        }
        .light {
            font-family: 'Montserrat-Regular';
        }
    }
    .orange-area {
        display: flex;
        flex: 1 0 256px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 176px;
        margin: 0 auto;
    }
}

#oxipay-banner-top {
    max-width: 1147px;
    margin-left: auto;
    margin-right: auto;
    .logo {
        flex: 1 1 250px;
        img {
            max-width: 160px;
        }
    }
    .orange-area {
        flex: 1 1 200px;
        width: 176px;
    }
}

@media screen and (max-width: 1100px) {
    #oxipay-banner-top {
        font-size: 12px;
        .orange-area {
            flex: 1 1 200px;
            width: 176px;
        }
    }
}

@media screen and (max-width: 760px) {
    #oxipay-banner-top {
        .logo {
            flex: 1 1 150px;
            img {
                max-width: 110px;
                margin-right: 12px;
            }
        }
        .orange-area {
            display: none;
        }
    }
}

@media screen and (max-width: 625px) {
    #oxipay-banner-top {
        font-size: 10.5px;
        .title {
            margin-left: 8px;
        }
    }
}

@media screen and (min-width: 596px) and (max-width: 1196px) {
    #oxipay-more-info-general {
        padding: 32px;
        #wide-screen {
            display: none;
        }
        .logo {
            width: 50%;
            flex: 1 1 auto;
            img {
                max-width: 350px;
                margin-right: 32px;
            }
        }
        .placeholder {
            width: 8%;
            flex: 1 1 auto;
        }
        .title {
            display: block;
            width: 42%;
            flex: 1 1 auto;
            margin-left: 0;
            text-align: left;
            font-size: 30px;
            div {
                display: block;
                white-space: nowrap;
            }
            #narrow-screen {
                display: block;
                margin-top: 0.5em;
            }
        }
        #wide-screen {
            display: none;
        }
    }
}

@media screen and (max-width: 595px){
    #oxipay-more-info-general {
        padding: 32px;
        flex-direction: column;
        text-align: center;
        max-width: 595px;
        min-width: 300px;
        margin-left: auto;
        margin-right: auto;
        #wide-screen {
            display: none;
        }
        #narrow-screen {
            display: block !important;
        }
        .logo {
            flex: 0 0 auto;
            width: 100%;
            padding: 30px 0 50px;
            border-right: none;
            border-bottom: $OXIPAY_DARK_GRAY 1px solid;
            img {
                width: 90%;
                max-width: 390px;
            }
        }
        .title {
            display: block;
            font-size: 32px;
            margin: 3rem -15px 0;
            div {
                display: block;
                margin: 0 auto;
            }
            #narrow-screen {
                margin-top: 1em;
                margin-bottom: 0.65em;
            }
        }
    }
}

#oxipay-modal-more-info_1 {
    background-color: rgba(0,0,0,0);
    .remodal-close {
        color: white;
        &:hover {
            color: #2b2e38;
        }
    }
}

.more-info-btn {
    font-size: 16px;
    font-family: 'Montserrat-Bold', 'arial', sans-serif;
    color: white;
    background: $OXIPAY_ORANGE;
    padding: 0 2em;
    border-radius: 15px;
    line-height: 225%;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}

.more-info {
    text-decoration: underline; font-size: 0.7em; vertical-align: middle;
}

div[id^="oxipay-more-info-"]:hover .more-info-btn {
    text-decoration: underline;
}

/* new more-info small */

#oxipay-more-info-small {
    border: 1px solid darkgray;
    font-size: 16px;
    background: white;
    color: $OXIPAY_DARK_GRAY;
    padding: 12.8px 24px;
    display: block;
    overflow: hidden;
    text-decoration:none;
    box-sizing: border-box;
    max-width: 1070px;
    min-width: 705px;
    p {
        font-family: 'Montserrat-Bold', 'arial', sans-serif;
        font-size: 25px;
        line-height: 32px;
        margin: 0 5.5em 0 5em;
        text-align: center;
    }
    img.logo {
        height: 32px !important;
        width: auto !important;
        float: left;
    }
    .more-info-btn {
        float: right;
    }
}

a[data-remodal-target]{
    cursor: pointer;
}