@font-face {
    font-family: 'AvenirLTStd-Medium';
    src: url("https://images.oxipay.com.au/content/fonts/AvenirLTStd-Medium.eot");
    src: local("☺"), url("https://images.oxipay.com.au/content/fonts/AvenirLTStd-Medium.woff") format("woff"), url("https://images.oxipay.com.au/content/fonts/AvenirLTStd-Medium.ttf") format("truetype"), url("https://images.oxipay.com.au/content/fonts/AvenirLTStd-Medium.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
/** Modal **/
div[id^="oxipay-modal-"] {
    padding: 0;
    max-width:660px;
}
#oxipay-external {
    width: 100%;
    height: 70vh;
    border: none;
}
/** Banner 01 **/

#oxipay-banner-01 {
    width: 100%;
    overflow: hidden;
    display: block;
    max-width: 1120px;
    margin: 0 auto;
    border: 2px solid #e2e2e2;
    max-height: 110px;
    font-family: 'AvenirLTStd-Medium', 'arial', sans-serif;
    color: #252525;
    text-decoration: none;
}
@media screen and (max-width: 670px) {
    #oxipay-banner-01 {
        max-height: 100%;
    }
}
#oxipay-banner-01 .logo {
    background-color: #252525;
    float: left;
    width: 26%;
    height: 120px;
    padding: 0 2%;
    overflow: hidden;
}
#oxipay-banner-01 .logo img {
    height: 100%;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    display: block;
}
#oxipay-banner-01 .text {
    float: left;
    padding-left: 2%;
    padding-top: 15px;
    overflow: hidden;
    width: 45%;
}
#oxipay-banner-01 h3 {
    font-size: 30px;
    margin: 0;
    font-family: 'AvenirLTStd-Medium', 'arial', sans-serif;
    color: #252525;
}
#oxipay-banner-01 p {
    font-size: 16px;
    margin: 0;
}
#oxipay-banner-01 .button {
    width: 20%;
    overflow: hidden;
    float: left;
}
#oxipay-banner-01 .info {
    display: block;
    float: right;
    line-height: 30px;
    padding: 10px 15px;
    background-color: #e68821;
    margin-right: 15px;
    margin-top: 30px;
    color: white;
    border-radius: 2px;
}
#oxipay-banner-01:hover .info {
    background-color: #bf6e15;
}
@media screen and (max-width: 670px) {
    #oxipay-banner-01 .logo {
        width: 100%;
        float: none;
    }
    #oxipay-banner-01 .text {
        width: 100%;
        float: none;
    }
    #oxipay-banner-01 .button {
        width: 100%;
        float: none;
        margin-top: 10px;
    }
    #oxipay-banner-01 .info {
        margin: 0 auto;
        float: right;
        margin: 0 15px 15px;
    }
}
#oxipay-tag-01 {
    font-family: 'AvenirLTStd-Medium', 'arial', sans-serif;
    background: #252525;
    color: white;
    margin-top: 20px;
    padding: 10px;
    display: block;
    overflow: hidden;
    text-decoration:none;
    max-width:600px;
    }
#oxipay-tag-01 p {
    line-height: 30px;
    margin: 0;
    float:left;
}
#oxipay-tag-01 img {
    height: 20px;
    margin: 5px;

}
#oxipay-tag-01 span {
    float: right;
    color: white;
    height: 20px;
    line-height: 20px;
    margin: 5px;
}
#oxipay-tag-01:hover span {
    text-decoration:underline;
}
#oxipay-tag-01 p {
    line-height: 20px;
    margin: 0;
    color: white !important;
    float:left;
}

#oxipay-tag-02:hover {
  text-decoration: none !important;
}
#oxipay-tag-02 {
    font-family: AvenirLTStd-Medium,arial,sans-serif;
    font-size:14px;
    color: #3d4246 !important;
    text-decoration: none !important;
    display: block;
    border-bottom: none !important;
    box-shadow: none !important;
    overflow: hidden;
}

#oxipay-tag-02 img {
    height: 16px !important;
    display: inline !important;
    margin-bottom: -4px !important;
}
#oxipay-img{
  background-image: url("https://oxipay.com.au/content/img/oxipay-logo-orange.svg");
  padding: 28px;
  margin-left: 3px;
  background-repeat: no-repeat;
  position: relative;
  top: 29px;
}

@media only screen and (min-width: 320px) and (max-width:720px) {
  #oxipay-img{
  top: 26px;
  }
}

#oxipay-tag-02 > p:nth-child(2){
  margin-top: -10px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     #oxipay-img{
     top: 0px;
     }
}
